version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_test
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=testuser
      - MONGO_INITDB_ROOT_PASSWORD=testpass
    command: mongod --bind_ip_all
